#header {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 1px;
}
#footer {
    background-color: darkslateblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 1px;
}
body {
    background-color: #eeeeee;
}
#nav {
    line-height: 30px;
    background-color: aliceblue;
    width: 15%;
    height: 80%;
    float: right;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#section {
    background-image: url("Images/hospital.jpg");
    background-position: center;
    background-size: cover;
    width: 83%;
    height: 80%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}